body {
    margin: 0;
    padding: 0;
    background: url('66afd3e6-424a-4b01-b2ff-165d6ac7b27e.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
  }
  